slurm/clusterSnakemake.sh
slurm/config.yaml
logs/*
list/Da_Resteggs_4lakes.metadata.csv*
.snakemake/
*.fastq*
*.fq*
*.fastqc*
*.html
*.zip
*.fasta*
*.fai
*.bam*
*.bai*
*.sam*
*.log
*.vcf*
*.metrics.txt
*.bed*
*.OU
*.ER
*.cov
*.args
*.arg
*.npy
*.beagle.gz
*.mafs.gz
*stats*
*hist*
*.gz
*.ml
*.pdf
*.list
*.done
*.log
*saf*
*sfs*
*fst*
*Fst*
*pestPG
*thetas*
*est.ml
